{% extends 'projectapp/base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row justify-content-center"> 
        <div class="col-7 d-flex justify-content-center" style="height: 90px; margin-right: 20px;  background-color: #F5F5F5; border-radius: 14px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08); border: 1px solid #C5C5C5;"">
            <div class="row">
                <div class="col-md-3 d-flex align-items-center"> 
                    <img src="{% static 'projectapp/lims.png' %}" class="img-fluid" alt="Lim's Company Logo"> 
                </div>
                <div class="col d-flex align-items-center">
                    <h3> Create Customer Order </h3>
                </div>
            </div>
        </div>
            
        <div class="col-4 d-flex justify-content-center" style="height: 90px; 
        {% if employee_type == "Office Clerk" %} background-color: #EBF8EC; {% endif %}
        {% if employee_type == "Marketing Staff" %} background-color: #FEF7EE; {% endif %}
        {% if employee_type == "Owner" %} background-color: #B2000033; {% endif %}
        {% if employee_type == "Warehouse Staff" %} background-color: #D9EFFB; {% endif %}
        border-radius: 14px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08); border: 1px solid #C5C5C5;">
            <div class="row"> 
                <div class="col-md-9">
                    <div class="row"> 
                        <h4 class="text-end mt-3 mb-0"> {{ request.user.first_name }} </h4>
                    </div>
                    <div class="row"> 
                        <h5 class="text-end mt-0 mb-1"> {{ employee_type }} </h5>
                    </div>
                </div>                    
                <div class="col-md-3 my-auto">
                    <img src="{% static 'projectapp/profile.png' %}" class="img-fluid" alt="Profile Icon"> 
                </div>
            </div>
        </div>
    </div>

    <div class="row my-5"> 
        <div class="card" style="width: 100%; background-color: #F5F5F5; border-radius: 14px;">
            <div class="card-body">
                <div class="row">
                    <h4> Customer Order </h4>
                </div>
                <div class="row"> 
                    <div class="col"> 
                        <div class="row"> 
                            <div class="col"> 
                                <div class="form-group my-2">
                                    <label class="form-label" for="CORN"> <strong> CO Ref. Num <span style="color: red;">*</span> </strong> </label>
                                    <input type="text" class="form-control" id="CORN" name="CORN" placeholder="Enter Customer Order Reference No." required>
                                </div>
                            </div>
                            <div class="col"> 
                                <div class="form-group my-2">
                                    <label class="form-label" for="orderdate"> <strong> Order Date <span style="color: red;">*</span> </strong> </label>
                                    <input type="date" class="form-control" id="orderdate" name="orderdate" placeholder="MM/DD/YY" required>
                                </div>
                            </div>
                        </div>

                        <div class="row"> 
                            <div class="form-group my-2">
                                
                                <label class="form-label" for="employeetype"> <strong> Customer Name <span style="color: red;">*</span> </strong> </label>
                                <select class="form-select" id="employeetype" name="employeetype" placeholder="Choose here.." required>
                                {% for c in customers %}
                                    <option value="{{c.Customer_ID}}"> {{c.Primary_Contact_Name}} </option>
                                {% endfor %}
                                </select>
                                
                            </div>
                        </div>
                    </div>

                    <div class="col"> 
                        <div class="form-group my-2"> 
                            <label for="exampleFormControlTextarea1" class="form-label"> <strong> Note: </strong> </label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Enter note..."></textarea>
                        </div>
                    </div>
                </div>

                <div class="row"> 
                    <!-- Add Button with JavaScript Event Listener -->
                    <div class="col my-2">
                        <strong> Products <span style="color: red;">*</span> </strong>
                        <button class="btn btn-primary btn-sm mx-2" id="addButton"> + Add Form Field </button>
                    </div>
                    
                    <form action="" method="POST" id="myForm"> {% csrf_token %}
                        <div class="form-field d-flex justify-content-center" id="field">
                            <div class="row mt-1"> 
                                <div class="col-2" style="padding-right: 10px;"> 
                                    <select class="form-select" id="productname" name="productname" placeholder="Product Name" onchange="fill_product()" required>
                                    
                                    {% for p in products %}
                                        <option value="{{p.Product_ID}}" data-unit="{{p.Unit}}" data-price="{{p.Unit_Price}}" data-aqcode="{{p.Acquisition_Code}}"> {{p.Product_Name}} </option>
                                    {% endfor %}

                                    </select>
                                </div>
                                
                                <div class="col" style="padding-left: 0; padding-right: 10px;">
                                    <input type="text" class="form-control" id="unit" name="unit" placeholder="Unit" readonly>
                                </div>

                                <div class="col" style="padding-left: 0; padding-right: 10px;">
                                    <input type="text" class="form-control" inputmode="numeric" id="unitprice" name="unitprice" placeholder="Unit Price">
                                </div>
                                <div class="col" style="padding-left: 0; padding-right: 10px;">
                                    <input type="number" class="form-control" inputmode="numeric" id="quantity" name="quantity" placeholder="Quantity" pattern="[0-9]+" title="Please enter a whole number">
                                </div>
                                <div class="col-2" style="padding-left: 0; padding-right: 10px;">
                                    <input type="text" class="form-control" id="acquisitioncode" name="acquisitioncode" placeholder="Acquisition Code" readonly>
                                </div>
                                <div class="col" style="padding-left: 0; padding-right: 10px;"> 
                                    <input type="text" class="form-control" inputmode="numeric" id="discount" name="discount" placeholder="Discount">
                                </div>
                                <div class="col" style="padding-left: 0; padding-right: 10px;"> 
                                    <input type="text" class="form-control" inputmode="numeric" id="amount" name="amount" placeholder="Amount">
                                </div>
                                <div class="col" style="padding-left: 0; padding-right: 0;"> 
                                    <button class="btn btn-danger" id="deleteButton"> Delete All </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="row my-2"> 
                    <div class="col"> 
                        <input type="text" class="form-control" inputmode="numeric" id="totalprice" name="totalprice" placeholder="TOTAL PRICE">
                    </div>
                    <div class="col"> 
                        <div class="row float-end"> 
                            <a class="btn btn-danger mx-3" id="cancelButton" style="width: 200px;" href="{% url 'view_orders' %}"> Cancel </a>
                            <button class="btn btn-success" id="saveButton" style="width: 200px;"> Save </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script> 
        function fill_product() {
            var selectElement = document.getElementById("productname");
            var selectedOption = selectElement.options[selectElement.selectedIndex];
            var unit = selectedOption.getAttribute("data-unit");
            var unitprice = selectedOption.getAttribute("data-price");
            var aqcode = selectedOption.getAttribute("data-aqcode");
            document.getElementById("unit").value = unit;
            document.getElementById("acquisitioncode").value = aqcode;
            document.getElementById("unitprice").value = unitprice;
        }

        $(document).ready(function() {
            $("#addButton").click(function(e){
                e.preventDefault();
                let fieldCount = $('.form-field').length + 1; // Calculate the field count dynamically
                $("#myForm").append(`
                    <div class="form-field d-flex justify-content-center" id="field${fieldCount}">
                        <div class="row mt-1"> 
                            <div class="col-2" style="padding-right: 10px;"> 
                                    <select class="form-select" 
                                    id="productname${fieldCount}" 
                                    name="productname${fieldCount}" 
                                    placeholder="Product Name" 
                                    hx-get="{% url 'fill_product_unit' %}" 
                                    hx-trigger="change" 
                                    hx-target="#unit">
                                    {% for p in products %}
                                        <option value="{{p.Product_ID}}"> {{p.Product_Name}} </option>
                                    {% endfor %}
                                    </select>
                                </div>
                            <div class="col" style="padding-left: 0; padding-right: 10px;">
                                <select class="form-select" id="unit${fieldCount}" name="unit${fieldCount}" placeholder="Unit">
                                    <option selected> Unit </option>
                                    <option value="Unit1"> Unit1 </option>
                                    <option value="Unit2"> Unit2 </option>
                                </select>
                            </div>
                            <div class="col" style="padding-left: 0; padding-right: 10px;">
                                <input type="text" class="form-control" inputmode="numeric" id="unitprice${fieldCount}" name="unitprice${fieldCount}" placeholder="Unit Price">
                            </div>
                            <div class="col" style="padding-left: 0; padding-right: 10px;">
                                <input type="number" class="form-control" inputmode="numeric" id="quantity${fieldCount}" name="quantity${fieldCount}" placeholder="Quantity">
                            </div>
                            <div class="col-2" style="padding-left: 0; padding-right: 10px;">
                                <input type="text" class="form-control" id="acquisitioncode${fieldCount}" name="acquisitioncode${fieldCount}" placeholder="Acquisition Code">
                            </div>
                            <div class="col" style="padding-left: 0; padding-right: 10px;"> 
                                <input type="text" class="form-control" inputmode="numeric" id="discount${fieldCount}" name="discount${fieldCount}" placeholder="Discount">
                            </div>
                            <div class="col" style="padding-left: 0; padding-right: 10px;"> 
                                <input type="text" class="form-control" inputmode="numeric" id="amount${fieldCount}" name="amount${fieldCount}" placeholder="Amount">
                            </div>
                            <div class="col" style="padding-left: 0; padding-right: 0;"> 
                                <button class="btn btn-danger deleteButton" data-fieldid="${fieldCount}"> Delete </button>
                            </div>
                        </div>
                    </div>`
                );
            });
        
            $(document).on('click', '.deleteButton', function(e) {
                e.preventDefault();
                let fieldId = $(this).data('fieldid');
                $("#field" + fieldId).remove();
            });
        });
    </script>
        

{% endblock %}
