{% extends 'projectapp/base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row m-5"> 
        <div class="col-8 m-auto" style="background-color: #C5C5C5; border-radius: 25px;">
            <div class="row">
                <div class="col-md-3"> 
                    <img src="{% static 'projectapp/lims.png' %}" class="img-fluid" alt="Lim's Company Logo"> 
                </div>

                <div class="col-md-9 my-auto">
                    <h3> Create Customer Order </h3>
                </div>
            </div>
        </div>
            
        <div class="col-4 m-auto" style="background-color: #EBF8EC; border-radius: 25px;"> 
            <div class="row"> 
                <div class="col-md-9 my-auto">
                    <div class="row"> 
                        <h3 class="text-end"> Hi! (User Name) </h3>
                    </div>
                    <div class="row"> 
                        <h5 class="text-end"> Marketing/Office </h5>
                    </div>
                </div>                    
                <div class="col-md-3">
                    <img src="{% static 'projectapp/profile.png' %}" class="img-fluid" alt="Profile Icon"> 
                </div>
            </div>
        </div>
    </div>

    <div class="row m-5"> 
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <div class="row">
                    <h4> Customer Order </h4>
                </div>
                <div class="row"> 
                    <div class="col"> 
                        <div class="row"> 
                            <div class="col"> 
                                <div class="form-group p-2">
                                    <label class="form-label" for="CORN"> <strong> CO Ref. Num </strong> </label>
                                    <input type="text" class="form-control" id="CORN" name="CORN" placeholder="(fills CORN)" readonly>
                                </div>
                            </div>
                            <div class="col"> 
                                <div class="form-group p-2">
                                    <label class="form-label" for="orderdate"> <strong> Order Date </strong> </label>
                                    <input type="date" class="form-control" id="orderdate" name="orderdate" placeholder="MM/DD/YY" required>
                                </div>
                            </div>
                        </div>

                        <div class="row"> 
                            <div class="form-group p-2">
                                <label class="form-label" for="employeetype"> <strong> Customer Name </strong> </label>
                                <select class="form-select" id="employeetype" name="employeetype" placeholder="Choose here.." required>
                                    <option selected> Customer Name </option>
                                    <option value="Name1"> Name1 </option>
                                    <option value="Name2"> Name2 </option>
                                    <option value="Name3"> Name3 </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col"> 
                        <div class="form-group p-2"> 
                            <label for="exampleFormControlTextarea1" class="form-label"> <strong> Note: </strong> </label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Enter note..."></textarea>
                        </div>
                    </div>
                </div>

                <div class="row"> 
                    <!-- Add Button with JavaScript Event Listener -->
                    <div class="col p-2">
                        <strong> Products </strong>
                        <button class="btn btn-primary mx-2" id="addButton"> Add Form Field </button>
                    </div>
                    
                    <form action="" method="POST" id="myForm"> {% csrf_token %}
                        <div class="form-field" id="field">
                            <div class="row p-2"> 
                                <div class="col"> 
                                    <select class="form-select" id="productname" name="productname" placeholder="Product Name">
                                        <option selected> Product Name </option>
                                        <option value="Product1"> Product1 </option>
                                        <option value="Product2"> Product2 </option>
                                    </select>
                                </div>
                                <div class="col">
                                    <select class="form-select" id="unit" name="unit" placeholder="Unit">
                                        <option selected> Unit </option>
                                        <option value="Unit1"> Unit1 </option>
                                        <option value="Unit2"> Unit2 </option>
                                    </select>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" inputmode="numeric" id="unitprice" name="unitprice" placeholder="Unit Price">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" inputmode="numeric" id="quantity" name="quantity" placeholder="Quantity">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" id="acquisitioncode" name="acquisitioncode" placeholder="Acquisition Code">
                                </div>
                                <div class="col"> 
                                    <input type="text" class="form-control" inputmode="numeric" id="discount" name="discount" placeholder="Discount">
                                </div>
                                <div class="col"> 
                                    <input type="text" class="form-control" inputmode="numeric" id="amount" name="amount" placeholder="Amount">
                                </div>
                                <div class="col"> 
                                    <button class="btn btn-danger" id="deleteButton"> X </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="row p-2"> 
                    <div class="col"> 
                        <input type="text" class="form-control" inputmode="numeric" id="totalprice" name="totalprice" placeholder="TOTAL PRICE">
                    </div>
                    <div class="col"> 
                        <div class="row float-end"> 
                            <a class="btn btn-danger mx-1" id="cancelButton" style="width: 200px;" href="{% url 'view_orders' %}"> Cancel </a>
                            <button class="btn btn-success mx-1" id="saveButton" style="width: 200px;"> Save </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        // JavaScript function to add form fields
        var fieldCounter = 1;

        function addFormField() {
          // Create a new form field
          
          var newField = document.createElement("div");
          newField.className = "form-field"+$(fieldCounter);
          newField.innerHTML = `
            <div class="row p-2">
                <div class="col"> 
                    <select class="form-select" id="productname${fieldCounter}" name="productname${fieldCounter}" placeholder="Product Name">
                        <option selected> Product Name </option>
                        <option value="Product1"> Product1 </option>
                        <option value="Product2"> Product2 </option>
                    </select>
                </div>
                <div class="col">
                    <select class="form-select" id="unit${fieldCounter}" name="unit${fieldCounter}" placeholder="Unit">
                        <option selected> Unit </option>
                        <option value="Unit1"> Unit1 </option>
                        <option value="Unit2"> Unit2 </option>
                    </select>
                </div>
                <div class="col">
                    <input type="text" class="form-control" inputmode="numeric" id="unitprice${fieldCounter}" name="unitprice${fieldCounter}" placeholder="Unit Price">
                </div>
                <div class="col">
                    <input type="text" class="form-control" inputmode="numeric" id="quantity${fieldCounter}" name="quantity${fieldCounter}" placeholder="Quantity">
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="acquisitioncode${fieldCounter}" name="acquisitioncode${fieldCounter}" placeholder="Acquisition Code">
                </div>
                <div class="col"> 
                    <input type="text" class="form-control" inputmode="numeric" id="discount${fieldCounter}" name="discount${fieldCounter}" placeholder="Discount">
                </div>
                <div class="col"> 
                    <input type="text" class="form-control" inputmode="numeric" id="amount${fieldCounter}" name="amount${fieldCounter}" placeholder="Amount">
                </div>
                <div class="col"> 
                    <button class="btn btn-danger" id="deleteButton" onclick="deleteFormField(${fieldCounter})"> X </button>
                </div>
            </div>
          `;

          fieldCounter++;
        
          // Append the new form field to the form
          var form = document.getElementById('field');
          form.insertAdjacentElement("afterend", newField)
        }
    
        function deleteFormField(event) {
        // Get the parent div of the clicked delete button
            var formField = event.target.closest('.form-field');
            formField.remove();
        }

        // Add event listener to the "Add Form Field" button
        document.getElementById('addButton').addEventListener('click', addFormField);
        //document.getElementById('deleteButton').addEventListener('click', deleteFormField);
    </script>

{% endblock %}