{% load static %}
<html>
<head> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/bootstrap/css/custom.css' %}">

    <script src="{% static '/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</head>
<body> 
    <div class="container"> 

        <div class="row"> 
            <div class="col"> 
                <a href="{% url 'login' %}"> Back to Login Page </a> 
            </div>
        </div>

        <div class="col-md-12 my-5 d-flex justify-content-center">
            <div class="card" style="width: 35rem;">
                <div class="card-body">

                    {% for message in messages %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}

                    <div class="text-center"> 
                        <img src="{% static 'projectapp/lims.png' %}" style="width: 350px;" alt="Lim's Company Logo"> 
                        <h3 class="mt-1 mb-5 pb-1"> Sales and Inventory System </h3>
                    </div>

                    <form method="POST" action="#"> {% csrf_token %}
                        <div class="row"> 
                            <div class="col">
                                <div class="form-group p-2">
                                    <label class="form-label" for="employeeid"> <strong> Employee ID </strong> </label>
                                    <input type="text" class="form-control" id="employeeid" name="employeeid" placeholder="Enter your Employee ID" required>
                                </div>
                            </div>
    
                            <div class="col">
                                <div class="form-group p-2">
                                    <label class="form-label" for="employeetype"> <strong> Employee Type </strong> </label>
                                    <select class="form-select" id="employeetype" name="employeetype" placeholder="Choose here.." required>
                                        <option selected> Select... </option>
                                        <option value="Owner"> Owner </option>
                                        <option value="Marketing Staff"> Marketing Staff </option>
                                        <option value="Office Clerk"> Office Clerk </option>
                                        <option value="Warehouse Staff"> Warehouse Staff </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row"> 
                            <div class="col"> 
                                <div class="form-group p-2">
                                    <label class="form-label" for="name"> <strong> Name </strong> </label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Last name, First name Middle Initial" required>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row"> 
                            <div class="col"> 
                                <div class="form-group p-2">
                                    <label class="form-label" for="password"> <strong> Password </strong> </label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
                                </div>
                            </div>
                        </div>

                        <div class="row"> 
                            <div class="col"> 
                                <div class="form-group p-2">
                                    <label class="form-label" for="confirmpassword"> <strong> Confirm Password </strong> </label>
                                    <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Re-type password" required>
                                </div>
                            </div>
                        </div>
        
                        <div class="row my-4">
                            <div class="col-6 text-center"> 
                                <button type="submit" class="mt-3 btn btn-success" style="width: 100%;"> Register </button>
                            </div>
                            <div class="col-6 text-center"> 
                                <button onlick="history.back()" class="mt-3 btn btn-danger" style="width: 100%;"> Cancel </button>
                            </div>
                        </div>
                    </form>       
                             
                </div>
            </div>
        </div>
    </div>
</body>
</html>


