{% extends 'projectapp/base.html' %}

{% load static %}

{% block content %}

    <div class="container"> 
        <!-- <div class="row"> 
            <div class="col"> 
                <a href="{% url 'login' %}"> Back to Login Page </a> 
            </div>
        </div> -->

        <div class="col-md-12 my-4 d-flex justify-content-center">
            <div class="card" style="width: 35rem;">
                <div class="card-body">

                    {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                        <div class="alert {% if message.tags %} {{message.tags}} {% endif %}" role="alert"> {{ message }} </div>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <div class="text-center"> 
                        <img src="{% static 'projectapp/lims.png' %}" style="width: 350px;" alt="Lim's Company Logo"> 
                        <h3 class="mt-1 mb-5 pb-1"> Sales and Inventory System </h3>
                    </div>

                    <form id="signup" method="POST" action="#"> {% csrf_token %}
                        <div class="row"> 
                            <div class="col">
                                <div class="form-group p-2">
                                    <label class="form-label" for="employeeid"> <strong> Employee ID <span style="color: red;">*</span></strong> </label>
                                    <input type="text" class="form-control" id="employeeid" name="employeeid" placeholder="Enter your Employee ID" data-parsley-pattern="[a-zA-Z0-9-]+" data-parsley-trigger="input" required>
                                </div>
                            </div>
    
                            <div class="col">
                                <div class="form-group p-2">
                                    <label class="form-label" for="employeetype"> <strong> Employee Type <span style="color: red;">*</span></strong> </label>
                                    <select class="form-select" id="employeetype" name="employeetype" required>
                                        <option value="" selected disabled> Choose here... </option>
                                        <option value="CEO"> CEO </option>
                                        <option value="Marketing Staff"> Marketing Staff </option>
                                        <option value="Office Clerk"> Office Clerk </option>
                                        <option value="Warehouse Staff"> Warehouse Staff </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row"> 
                            <div class="col"> 
                                <div class="form-group p-2">
                                    <label class="form-label" for="firstname"> <strong> First Name <span style="color: red;">*</span> </strong> </label>
                                    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter your First Name" required>
                                </div>
                            </div>
                        </div>

                        <div class="row"> 
                            <div class="col"> 
                                <div class="form-group p-2">
                                    <label class="form-label" for="lastname"> <strong> Last Name <span style="color: red;">*</span> </strong> </label>
                                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter your Last name" required>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row"> 
                            <div class="col"> 
                                <div class="form-group p-2">
                                    <label class="form-label" for="email"> <strong> Email (optional) </strong> </label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your Email Address" data-parsley-type="email" data-parsley-trigger="input">
                                </div>
                            </div>
                        </div>

                        <div class="row"> 
                            <div class="col"> 
                                <div class="form-group p-2">
                                    <label class="form-label" for="password"> <strong> Password <span style="color: red;">*</span></strong> </label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
                                </div>
                            </div>
                        </div>

                        <div class="row"> 
                            <div class="col"> 
                                <div class="form-group p-2">
                                    <label class="form-label" for="confirmpassword"> <strong> Confirm Password <span style="color: red;">*</span></strong> </label>
                                    <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Re-type password" data-parsley-equalto="#password" required>
                                </div>
                            </div>
                        </div>
        
                        <div class="row my-4">
                            <div class="col-6 text-center"> 
                                <a class="mt-3 btn btn-danger" style="width: 100%;" href="{% url 'manage_account' %}"> Cancel </a>
                            </div>
                            <div class="col-6 text-center"> 
                                <button type="submit" class="mt-3 btn btn-success" style="width: 100%;"> Register </button>
                            </div>
                        </div>
                    </form>        
                </div>
            </div>
        </div>
    </div>
    
    <script src="{% static 'projectapp/js/signup.js' %}"></script>

{% endblock %}


