{% extends 'projectapp/base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row m-5"> 
        <div class="col-8 m-auto" style="background-color: #C5C5C5; border-radius: 25px;">
            <div class="row">
                <div class="col-md-3"> 
                    <img src="{% static 'projectapp/lims.png' %}" class="img-fluid" alt="Lim's Company Logo"> 
                </div>

                <div class="col-md-9 my-auto">
                    <h3> View Customers </h3>
                </div>
            </div>
        </div>
            
        <div class="col-4 m-auto" style="background-color: #EBF8EC; border-radius: 25px;"> 
            <div class="row"> 
                <div class="col-md-9 my-auto">
                    <div class="row"> 
                        <h3 class="text-end"> Hi! (User Name) </h3>
                    </div>
                    <div class="row"> 
                        <h5 class="text-end"> Marketing/Office </h5>
                    </div>
                </div>                    
                <div class="col-md-3">
                    <img src="{% static 'projectapp/profile.png' %}" class="img-fluid" alt="Profile Icon"> 
                </div>
            </div>
        </div>
    </div>

    <div class="row m-5">
        <div class="col-8 text-start my-3"> 
            <input type="search" class="form-control" id="search" name="search" placeholder="Type here">
        </div>

        <div class="col-4 col-sm-4 text-end my-3"> 
            <a class="btn btn-success" href="{% url 'new_customer' %}"> Create New Customer </a>
        </div>
    </div>

    <div class="row m-5"> 
        <table id="viewcustomers" class="table table-striped display text-center">
            <thead>
                <tr class="table-light">
                    <th class="text-center" scope="col">Customer ID</th>
                    <th class="text-center" scope="col">Customer Type</th>
                    <th class="text-center" scope="col">Company Name</th>
                    <th class="text-center" scope="col">Primary Contact</th>
                    <th class="text-center" scope="col">Email</th>
                    <th class="text-center" scope="col">Phone Number</th>
                </tr>
            </thead>
            <tbody>
                {% for c in customers %}
                <tr class="table-light text-center">
                    <td class="text-center"><a href=""> {{c.Customer_ID}} </a></td>
                    <td class="text-center"> {{c.Customer_Type}}</td>
                    <td class="text-center"> {{c.Company_Name}} </td>
                    <td class="text-center"> {{c.Primary_Contact_Name}} </td>
                    <td class="text-center"> {{c.Email}} </td>
                    <td class="text-center"> {{c.Phone_Number}} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row m-5"> 
        <div class="col-12 text-end my-3"> 
            <a class="btn btn-primary" href="{% url 'homepage' %}"> Back to Main Menu </a>
        </div>
    </div>
</div>

<script> 
    new DataTable('#viewcustomers');
</script>
    
{% endblock %}