{% extends 'projectapp/base.html' %}
{% load static %}

{% block content %}

<!-- Data Table -->

<div class="container">
    <div class="row m-5"> 
        <div class="col-8 m-auto" style="background-color: #C5C5C5; border-radius: 25px;">
            <div class="row">
                <div class="col-md-3"> 
                    <img src="{% static 'projectapp/lims.png' %}" class="img-fluid" alt="Lim's Company Logo"> 
                </div>

                <div class="col-md-9 my-auto">
                    <h3> View Orders </h3>
                </div>
            </div>
        </div>
            
        <div class="col-4 m-auto" style="background-color: #EBF8EC; border-radius: 25px;"> 
            <div class="row"> 
                <div class="col-md-9 my-auto">
                    <div class="row"> 
                        <h3 class="text-end"> Hi! (User Name) </h3>
                    </div>
                    <div class="row"> 
                        <h5 class="text-end"> Marketing/Office </h5>
                    </div>
                </div>                    
                <div class="col-md-3">
                    <img src="{% static 'projectapp/profile.png' %}" class="img-fluid" alt="Profile Icon"> 
                </div>
            </div>
        </div>
    </div>

    <div class="row m-5">
        <div class="col-8 text-start my-3"> 
            <input type="search" class="form-control" id="search" name="search" placeholder="Type here">
        </div>

        <div class="col-4 col-sm-4 text-end my-3"> 
            <a class="btn btn-success" href="{% url 'create_customer_order' %}"> Create Customer Order </a>
        </div>
    </div>

    <div class="row m-5"> 
        <table id="vieworders" class="table text-center">
            <thead>
                <tr class="table-primary">
                    <th class="text-center" scope="col">Reference Number</th>
                    <th class="text-center" scope="col">Order Date</th>
                    <th class="text-center" scope="col">Customer</th>
                    <th class="text-center" scope="col">Payment Status</th>
                    <th class="text-center" scope="col">Order Status</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-light">
                    <td class="text-center">CO 00001</td>
                    <td class="text-center">January 10, 2020</td>
                    <td class="text-center">Ben Santos</td>
                    <td class="text-center">Approved</td>
                    <td class="text-center">Ready for Delivery</td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="row m-5"> 
        <div class="col-12 text-end my-3"> 
            <a class="btn btn-primary" href="{% url 'homepage' %}"> Back to Main Menu </a>
        </div>
    </div>
</div>

<script> 
    new DataTable('#vieworders');
</script>
    
{% endblock %}