{% extends 'projectapp/base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row m-5"> 
        <div class="col-8 m-auto" style="background-color: #C5C5C5; border-radius: 25px;">
            <div class="row">
                <div class="col-md-3"> 
                    <img src="{% static 'projectapp/lims.png' %}" class="img-fluid" alt="Lim's Company Logo"> 
                </div>

                <div class="col-md-9 my-auto">
                    <h3> View Inventory </h3>
                </div>
            </div>
        </div>
            
        <div class="col-4 m-auto" style="background-color: #B2000033; border-radius: 25px;"> 
            <div class="row"> 
                <div class="col-md-9 my-auto">
                    <div class="row"> 
                        <h3 class="text-end"> Hi! (User Name) </h3>
                    </div>
                    <div class="row"> 
                        <h5 class="text-end"> Owner </h5>
                    </div>
                </div>                    
                <div class="col-md-3">
                    <img src="{% static 'projectapp/profile.png' %}" class="img-fluid" alt="Profile Icon"> 
                </div>
            </div>
        </div>
    </div>

    <div class="row m-5">
        <div class="col-8 text-start my-3"> 
            <input type="search" class="form-control" id="search" name="search" placeholder="Type here">
        </div>
    </div>

    <div class="row m-5"> 
        <table class="table text-center">
            <thead>
                <tr class="table-primary">
                    <th scope="col">Product ID</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Current Quantity</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Acquisition Code</th>
                    <th scope="col">Warehouse Location</th>
                    <th scope="col">Date Updated</th>
                    <th scope="col">Supplier</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-light">
                    <td>BP 001</td>
                    <td>HBW 0.5 Ballpen</td>
                    <td>500</td>
                    <td>Piece</td>
                    <td>YOKU</td>
                    <td>Cervantes</td>
                    <td>02/06/2023</td>
                    <td>Veco Paper</td>
                </tr>
                <tr class="table-light">
                    <td>BP 001</td>
                    <td>HBW 0.5 Ballpen</td>
                    <td>500</td>
                    <td>Piece</td>
                    <td>YOKU</td>
                    <td>Cervantes</td>
                    <td>02/06/2023</td>
                    <td>Veco Paper</td>
                </tr>
                <tr class="table-light">
                    <td>BP 001</td>
                    <td>HBW 0.5 Ballpen</td>
                    <td>500</td>
                    <td>Piece</td>
                    <td>YOKU</td>
                    <td>Cervantes</td>
                    <td>02/06/2023</td>
                    <td>Veco Paper</td>
                </tr>
                <tr class="table-light">
                    <td>BP 001</td>
                    <td>HBW 0.5 Ballpen</td>
                    <td>500</td>
                    <td>Piece</td>
                    <td>YOKU</td>
                    <td>Cervantes</td>
                    <td>02/06/2023</td>
                    <td>Veco Paper</td>
                </tr>
                <tr class="table-light">
                    <td>BP 001</td>
                    <td>HBW 0.5 Ballpen</td>
                    <td>500</td>
                    <td>Piece</td>
                    <td>YOKU</td>
                    <td>Cervantes</td>
                    <td>02/06/2023</td>
                    <td>Veco Paper</td>
                </tr>
                <tr class="table-light">
                    <td>BP 001</td>
                    <td>HBW 0.5 Ballpen</td>
                    <td>500</td>
                    <td>Piece</td>
                    <td>YOKU</td>
                    <td>Cervantes</td>
                    <td>02/06/2023</td>
                    <td>Veco Paper</td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="row m-5"> 
        <div class="col-12 text-end my-3"> 
            <a class="btn btn-primary" href="{% url 'homepage' %}"> Back to Main Menu </a>
        </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
    </nav>
</div>
    
{% endblock %}