{% extends 'projectapp/base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <div class="row justify-content-center"> 
                <div class="col-7 d-flex justify-content-center" style="height: 90px; margin-right: 20px;  background-color: #F5F5F5; border-radius: 14px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08); border: 1px solid #C5C5C5;"">
                    <div class="row">
                        <div class="col-md-3 d-flex align-items-center"> 
                            <img src="{% static 'projectapp/lims.png' %}" class="img-fluid" alt="Lim's Company Logo"> 
                        </div>
        
                        <div class="col-md-9 d-flex align-items-center my-auto">
                            <h3> Add Products </h3>
                        </div>
                    </div>
                </div>

                <div class="col-4 d-flex justify-content-center" style="height: 90px; 
                {% if employee_type == "Office Clerk" %} background-color: #EBF8EC; {% endif %}
                {% if employee_type == "Marketing Staff" %} background-color: #FEF7EE; {% endif %}
                {% if employee_type == "CEO" %} background-color: #B2000033; {% endif %}
                {% if employee_type == "Warehouse Staff" %} background-color: #D9EFFB; {% endif %}
                border-radius: 14px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08); border: 1px solid #C5C5C5;"> 
                    <div class="row"> 
                        <div class="col-md-9">
                            <div class="row"> 
                                <h4 class="text-end mt-3 mb-0"> {{ request.user.first_name }} </h4>
                            </div>
                            <div class="row"> 
                                <h5 class="text-end mt-0 mb-1"> {{ employee_type }} </h5>
                            </div>
                            
                        </div>                    
                        <div class="col-md-3 my-auto">
                            <img src="{% static 'projectapp/profile.png' %}" class="img-fluid" alt="Profile Icon"> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row m-5"> 
        
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="alert {% if message.tags %} {{message.tags}} {% endif %}" role="alert"> {{ message }} </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="card" style="width: 100%;">
            <div class="card-body">
                <form action="{% url 'add_products' %}" method="POST" id="addproduct"> {% csrf_token %}
                    <div class="row">
                        <h4> Add Products </h4>
                    </div>
                    <div class="row"> 
                        <div class="col"> 
                            <div class="row"> 
                                <div class="col"> 
                                    <div class="form-group py-2">
                                        <label class="form-label" for="dateupdated"> <strong> Date </strong> </label>
                                        <input type="date" class="form-control" id="dateupdated" name="dateupdated" placeholder="MM/DD/YY" data-parsley-type="date" data-parsley-date-format="YYYY-MM-DD" required>
                                    </div>
                                </div>
                                <div class="col"> 
                                    <div class="form-group py-2">
                                        <label class="form-label" for="CORN"> <strong> Supplier Name </strong> </label>
                                        <input type="text" class="form-control" id="suppliername" name="suppliername" placeholder="Supplier Name" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row"> 
                        <!-- Add Button with JavaScript Event Listener -->
                        <div class="col pt-2">
                            <strong> Products </strong>
                            <!-- <button class="btn btn-primary mx-2" id="addButton"> Add Form Field </button> -->
                        </div>
                    
                    
                    <div class="form-field" id="">
                        <div class="row p-2"> 
                            <div class="col" style="padding-left: 0; padding-right: 10px;">
                                <input type="text" class="form-control" id="productname" name="productname" placeholder="Product Name" required>
                            </div>
                            <div class="col" style="padding-left: 0; padding-right: 10px;"> 
                                <input type="number" class="form-control" inputmode="numeric" id="quantity" name="quantity" min="1" step="1" placeholder="Quantity" data-parsley-type="integer" data-parsley-min="1" required>
                            </div>
                            <div class="col" style="padding-left: 0; padding-right: 10px;">
                                <select class="form-select" id="unit" name="unit" placeholder="Unit" required>
                                    <option value="" selected disabled> Unit </option>
                                    <option value="Pieces"> Pieces </option>
                                    <option value="Boxes"> Boxes </option>
                                    <option value="Reams"> Reams </option>
                                    <option value="Sheets"> Sheets </option>
                                </select>
                            </div>
                            <div class="col" style="padding-left: 0; padding-right: 10px;">
                                <input type="number" class="form-control" id="unitprice" name="unitprice" placeholder="Unit Price" min="0.01" step="any" data-parsley-type="number" data-parsley-min="0.01" required>
                            </div>
                            <div class="col" style="padding-left: 0; padding-right: 10px;">
                                <input type="text" class="form-control" id="acquisitioncode" name="acquisitioncode" placeholder="Acquisition Code" data-parsley-type="input" required>
                            </div>
                            <div class="col" style="padding-left: 0; padding-right: 10px;">
                                <input type="text" class="form-control" id="warehouselocation" name="warehouselocation" placeholder="Warehouse Location" data-parsley-type="input" required>
                            </div>
                        </div>
                        <div class="row float-end pt-3"> 
                            <a class="btn btn-danger mx-1" id="cancelButton" style="width: 200px;" href="{% url 'view_inventory' %}"> Cancel </a>
                            <button type="submit" class="btn btn-success mx-1" id="saveButton" style="width: 200px;"> Save </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="{% static 'projectapp/js/add_products.js' %}"> </script>

{% endblock %}