{% extends 'projectapp/base.html' %}
{% load static %}

{% block content %}
    <div class="container"> 
        <div class="col-md-12 my-3 d-flex justify-content-center">
            <div class="card" style="width: 35rem;">
                <div class="card-body">

                    {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                        <div class="alert {% if message.tags %} {{message.tags}} {% endif %}" role="alert"> {{ message }} </div>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <div class="text-center"> 
                        <img src="{% static 'projectapp/lims.png' %}" style="width: 350px;" alt="Lim's Company Logo"> 
                        <h3 class="mt-1 mb-5 pb-1"> Sales and Inventory System </h3>
                    </div>

                    {% for a in account %}
                    <form method="POST" action="#"> {% csrf_token %}
                        <div class="row"> 
                            <div class="col">
                                <div class="form-group p-2">
                                    <label class="form-label" for="employeeid"><strong> Employee ID </strong></label>
                                    <input type="text" class="form-control" id="employeeid" name="employeeid" value="{{a.username}}" placeholder="{{a.username}}" readonly>
                                </div>
                            </div>
    
                            <div class="col">
                                <div class="form-group p-2">
                                    <label class="form-label" for="employeetype"> <strong>  Employee Type </strong> </label>
                                    <select class="form-select" id="employeetype" name="employeetype" placeholder="Choose here..">
                                        <option value="Owner" {% if a.Employee_Type == "CEO" %} selected {% endif %}> CEO </option>
                                        <option value="Marketing Staff" {% if a.Employee_Type == "Marketing Staff" %} selected {% endif %}> Marketing Staff </option>
                                        <option value="Office Clerk" {% if a.Employee_Type == "Office Clerk" %} selected {% endif %}> Office Clerk </option>
                                        <option value="Warehouse Staff" {% if a.Employee_Type == "Warehouse Staff" %} selected {% endif %}> Warehouse Staff </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row"> 
                            <div class="col"> 
                                <div class="form-group p-2">
                                    <label class="form-label" for="firstname"> <strong>  First Name </strong> </label>
                                    <input type="text" class="form-control" id="firstname" name="firstname" value="{{a.first_name}}" placeholder="{{a.first_name}}">
                                </div>
                            </div>
                            <div class="col"> 
                                <div class="form-group p-2">
                                    <label class="form-label" for="lastname"> <strong>  Last Name </strong> </label>
                                    <input type="text" class="form-control" id="lastname" name="lastname" value="{{a.last_name}}" placeholder="{{a.last_name}}">
                                </div>
                            </div>
                        </div>

                        <div class="row"> 
                            <div class="col"> 
                                <div class="form-group p-2">
                                    <label class="form-label" for="email"> <strong>  Email </strong> </label>
                                    <input type="text" class="form-control" id="email" name="email" value="{{a.email}}" placeholder="{{a.email}}">
                                </div>
                            </div>
                        </div>
                        
                        <div class="row"> 
                            <div class="col"> 
                                <div class="form-group p-2">
                                    <label class="form-label" for="oldpassword"> <strong> Old Password </strong> </label>
                                    <input type="password" class="form-control" id="oldpassword" name="oldpassword" placeholder="Enter your old password">
                                </div>
                            </div>
                        </div>

                        <div class="row"> 
                            <div class="col"> 
                                <div class="form-group p-2">
                                    <label class="form-label" for="newpassword1"> <strong>  New Password </strong> </label>
                                    <input type="password" class="form-control" id="newpassword1" name="newpassword1" placeholder="Enter New Password" required>
                                </div>
                            </div>
                        </div>

                        <div class="row"> 
                            <div class="col"> 
                                <div class="form-group p-2">
                                    <label class="form-label" for="newpassword2"> <strong>  Re-Type New Password </strong> </label>
                                    <input type="password" class="form-control" id="newpassword2" name="newpassword2" placeholder="Retype New Password" required>
                                </div>
                            </div>
                        </div>
        
                        <div class="row my-4">
                            <div class="col-6 text-center"> 
                                <a class="mt-3 btn btn-danger" style="width: 100%;" href="{% url 'manage_account' %}"> Cancel </a>
                            </div>
                            <div class="col-6 text-center"> 
                                <button type="submit" class="mt-3 btn btn-success" style="width: 100%;"> Save </button>
                            </div>
                        </div>
                        <div class="row my-4"> 
                            <div class="col-6 mx-auto text-center"> 
                                <a class="mt-3 btn btn-warning" style="width:100%;" href="{% url 'delete_account' pk=a.pk %}"> Delete Account </a>
                            </div>
                        </div>
                    </form>        
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% endblock %}


