{% extends 'projectapp/base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row justify-content-center"> 
        <div class="col-7 d-flex justify-content-center" style="height: 90px; margin-right: 20px;  background-color: #F5F5F5; border-radius: 14px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08); border: 1px solid #C5C5C5;"">
            <div class="row">
                <div class="col-md-3 d-flex align-items-center"> 
                    <img src="{% static 'projectapp/lims.png' %}" class="img-fluid" alt="Lim's Company Logo"> 
                </div>
                <div class="col d-flex align-items-center">
                    <h3> Edit Order </h3>
                </div>
            </div>
        </div>
            
        <div class="col-4 d-flex justify-content-center" style="height: 90px; 
        {% if employee_type == "Office Clerk" %} background-color: #EBF8EC; {% endif %}
        {% if employee_type == "Marketing Staff" %} background-color: #FEF7EE; {% endif %}
        {% if employee_type == "CEO" %} background-color: #B2000033; {% endif %}
        {% if employee_type == "Warehouse Staff" %} background-color: #D9EFFB; {% endif %}
        border-radius: 14px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08); border: 1px solid #C5C5C5;"> 
            <div class="row"> 
                <div class="col-md-9">
                    <div class="row"> 
                        <h4 class="text-end mt-3 mb-0"> {{ request.user.first_name }} </h4>
                    </div>
                    <div class="row"> 
                        <h5 class="text-end mt-0 mb-1"> {{ employee_type }} </h5>
                    </div>
                </div>                    
                <div class="col-md-3 my-auto">
                    <img src="{% static 'projectapp/profile.png' %}" class="img-fluid" alt="Profile Icon"> 
                </div>
            </div>
        </div>
    </div>

    {% if messages %}
    <div class="messages mt-4">
        {% for message in messages %}
        <div class="alert {% if message.tags %} {{message.tags}} {% endif %}" role="alert"> {{ message }} </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="row my-5"> 
        <div class="card" style="width: 100%; background-color: #F5F5F5; border-radius: 14px;">
            <div class="card-body">
                <form action="{% url 'create_customer_order' %}" method="POST" id="myForm"> {% csrf_token %}

                    <div class="row">
                        <h4> Customer Order </h4>
                    </div>
                    <div class="row"> 
                        <div class="col"> 
                            <div class="row"> 
                                <div class="col"> 
                                    <div class="form-group my-2">
                                        <label class="form-label" for="orderdate"> <strong> Order Date <span style="color: red;">*</span> </strong> </label>
                                        <input type="date" class="form-control" id="orderdate" name="orderdate" placeholder="{{order.Order_Date|date:'Y-m-d'}}" value="{{order.Order_Date|date:'Y-m-d'}}" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row"> 
                                <div class="form-group my-2">
                                    
                                    <label class="form-label" for="customername"> <strong> Customer Name <span style="color: red;">*</span> </strong> </label>
                                    <select class="form-select" id="customer" name="customername" placeholder="Choose here.." readonly required>
                                        <option value="{{order.Customer_ID}}" selected> {{order.Customer_ID.Primary_Contact_Name}} </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col"> 
                            <div class="form-group my-2"> 
                                <label for="notes" class="form-label"> <strong> Note: </strong> </label>
                                <textarea class="form-control" id="notes" name="notes" rows="5" placeholder="{{order.Note}}">{{order.Note}}</textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row"> 
                        <div class="col my-2">
                            <strong> Products <span style="color: red;">*</span> </strong>
                            <!-- <button class="btn btn-primary btn-sm mx-2" id="addButton"> + Add Form Field </button> -->
                        </div>
                        
                        {% for product in order_inventory %}
                        <div class="form-field d-flex justify-content-center" id="rowfield">
                            <div class="container">
                                <div class="row mt-1" id="rowfield"> 
                                    <div class="col-2" style="padding-right: 10px;"> 
                                        <select class="form-select" id="productname" name="productname" placeholder="Product Name" onchange="fill_product(this)" required>
                                            <option value="{{product.Product_ID}}" data-unit="{{product.Product_ID.Unit}}" data-price="{{product.Product_ID.Unit_Price}}" data-aqcode="{{product.Product_ID.Acquisition_Code}}" selected> {{product.Product_ID.Product_Name}} </option>
                                        </select>
                                    </div>
                                    
                                    <div class="col" style="padding-left: 0; padding-right: 10px;">
                                        <input type="text" class="form-control" id="unit" name="unit" placeholder="Unit" value="{{product.Product_ID.Unit}}" readonly required>
                                    </div>
    
                                    <div class="col" style="padding-left: 0; padding-right: 10px;">
                                        <input type="text" class="form-control" inputmode="numeric" id="unitprice" name="unitprice" placeholder="Unit Price" value="{{product.Product_ID.Unit_Price}}" onchange="fill_price(this)" required>
                                    </div>
                                    <div class="col" style="padding-left: 0; padding-right: 10px;">
                                        <input type="number" class="form-control" inputmode="numeric" id="quantity" name="quantity" placeholder="Quantity" value="{{product.Product_Quantity}}" onchange="fill_price(this)" min="1" step="1" required>
                                    </div>
                                    <div class="col-2" style="padding-left: 0; padding-right: 10px;">
                                        <input type="text" class="form-control" id="acquisitioncode" name="acquisitioncode" placeholder="Acquisition Code" value="{{product.Product_ID.Acquisition_Code}}" readonly required>
                                    </div>
                                    <div class="col" style="padding-left: 0; padding-right: 10px;"> 
                                        {% for discount in discounts %}
                                            {% if discount.Product_ID == product.Product_ID %}
                                            <input type="number" class="form-control" inputmode="numeric" id="discount" name="discount" placeholder="Discount" value="{{discount.Discount}}" onchange="fill_price(this)" min="0" step="0.01" value="0">
                                            {% endif %}
                                        {% endfor %}
                                        </div>
                                    <div class="col" style="padding-left: 0; padding-right: 10px;"> 
                                        <input type="text" class="form-control" inputmode="numeric" id="amount" name="amount" placeholder="Amount" value="{{product.Amount}}" onchange="" required>
                                    </div>
                                    <div class="col" style="padding-left: 0; padding-right: 0;"> 
                                        <button type="button" class="btn btn-danger deleteButton"> Delete </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        <div class="row mt-4"> 
                            <div class="col"> 
                                <input type="text" class="form-control" inputmode="numeric" id="totalprice" name="totalprice" placeholder="TOTAL PRICE" value="{{order.Total_Amount}}" readonly>
                            </div>
                            <div class="col"> 
                                <div class="row float-end"> 
                                    <a class="btn btn-warning" id="deleteOrderButton" style="width: 170px;" href="{% url 'delete_order' pk=order.pk %}"> Delete Order </a>
                                    <a class="btn btn-danger mx-3" id="cancelButton" style="width: 170px;"> Cancel </a>
                                    <button type="submit" class="btn btn-success" id="saveButton" style="width: 170px;"> Save </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="{% static 'projectapp/js/edit_order.js' %}"></script>

{% endblock %}
